{% extends "blog/base.html" %}

{% block content %}
<h1 class="page-header">
    Page Heading
    <small>Secondary Text</small>
</h1>
{% for post in posts %}
    <h2>
        <a href="{% url 'post' title=post.slug %}">{{ post.title }}</a>
    </h2>
    <p class="lead">
        by <a href="index.php">{{ post.user }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published_date }}</p>
    <hr>
    <img class="img-responsive" src="{{ post.image }}" alt="">
    <hr>
    <p>{{ post.content|truncatewords:20 }}</p>
    <a class="btn btn-primary" href="{% url 'post' title=post.slug %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
{% empty %}
<p>Немає постів!</p>
{% endfor %}
<!-- Pager -->
<ul class="pager">
    <li class="previous">
        <a href="#">&larr; Older</a>
    </li>
    <li class="next">
        <a href="#">Newer &rarr;</a>
    </li>
</ul>
{% endblock %}

{% block sidebar %}
{%include 'blog/sidebar.html' %}
{% endblock %}